.container {
  max-width: 50em;
  max-height: 80vh;
  margin: 2em;
  padding: 2em;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  color: var(--primary-text-color);
  /* background-color: var(--background-color); */
  background: rgba(114, 114, 114, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
  color: var(--primary-text-color);
}
.section {
  margin-bottom: 1em;
}
.section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5em;
}
.section ul {
  list-style-type: none;
  padding: 0;
}
.section ul li {
  margin-bottom: 0.5emem;
}
