* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

header {
  height: 2em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
}

.theme-mode {
  background: transparent;
  font-size: 2em;
  border-radius: 9em;
}

footer {
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

[data-theme="dark"] {
  --background-color: #242424;
  --foreground-color: #005e60;
  --primary-text-color: #ffffff;
  --secondary-text-color: #0a0a0a;
}

[data-theme="light"] {
  --background-color: #f9f6f7;
  --foreground-color: #005e60;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
}
